<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Insert Customer</title>
</head>
<body>
<h1>Inserisci nuovo cliente</h1>
<form method="POST"
      th:action="@{/insert}"
      th:object="${customer}">
    <div>
        <label for="id">ID:</label>
        <input type="number" id="id" th:field="*{id}" placeholder="Inserisci ID" required />
    </div>
    <div>
        <label for="name">Nome:</label>
        <input type="text" id="name" th:field="*{name}" placeholder="Inserisci il nome" required />
    </div>
    <div>
        <label for="surname">Cognome:</label>
        <input type="text" id="surname" th:field="*{surname}" placeholder="Inserisci il cognome" required />
    </div>
    <div>
        <label for="age">Età:</label>
        <input type="number" id="age" th:field="*{age}" placeholder="Inserisci l'età" required />
    </div>
    <div>
        <button type="submit">Salva Cliente</button>
    </div>
</form>
</body>
</html>
